body{
	margin:auto;
	height:100%;
	width:100%;
}

#top{
	height:100px;
	background-color:black;
	color: white;
	text-align:center;
}

#top img{
	float:left;
}

#top h1{
	margin-right: 160px;
	margin-top: 0px;
	padding-top: 20px;
	font-size:40px;
}

#top h2{
	margin:auto;
	font-size:30px;
}

header{
	width:100%;
	top:50px;
	margin:auto;
	background-color:#FFFFFF;
}

nav
{
	width:100%;
	height:70px;
	margin:auto;
	margin-top:30px;
	background:black;	
}

nav ul
{
	list-style-type:none;
	margin:auto;
}

nav ul li
{
	float:left;
	padding:14px;
	margin:auto;
}

nav ul li a
{
	color:white;
	font-size:20px;
	font-weight:600;
	text-decoration:none;
	padding:5px;
}

nav ul li a:hover
{
	
	background:red;
}

.about h1{
	margin-left:2%;
	font-size:40px;
	text-align:center;
}

.accordion {
    background-color:#eee;
    color:#444;
    padding:20px;
	font-size:26px;
	font-weight:bold;
	margin-left:1%;
    width:95%;
    text-align:justify;
	border:solid 2px #000000;
}

.panel {
    padding:2px 10px;
	margin-left:1%;
	font-size:25px;
	text-align:justify;
	margin-right:4%;
	background:#F8F8FF;
	text-align:center;
}

#loginform{
	color:black;
	background-image:url("images/1.jpg");
	height: 500px;
	background-repeat:repeat;
	background-position:none;
	text-align:center;
	font-size:30px;
}

#loginform input{
	background-color:#F0F8FF;
    border: solid black;
    border-radius:5px;
	font-size:20px;
	width:30%;
}

#loginform input[type=submit]{
	width:150px;
	font-size:30px;
	height:42px;
}

#registration{
	color:white;
	background-image:url("images/3.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
	font-size:20px;
}

input{
	background-color:#F0F8FF;
    border: solid black;
    border-radius:5px;
	font-size:20px;
	width:80%;
}

select{
	background-color:#F0F8FF;
    border: solid black;
    border-radius:5px;
    border-radius:5px;
	font-size:20px;
}

input[type=submit], [type=reset] {
	width:150px;
	font-size:30px;
	height:42px;
}

*{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.head 
{
	position : fixed;
	top:0;
	width : 100%;
	height : 50px;
	margin : auto;
	padding : 0;
	background-color : #000;
	text-align : center;
	font-family : Forte;
	font-size : 34px;
	color : #fff;
	z-index : 5;
}

.photo 
{
	background-image : url(images/back.jpg);
	height : 550px;
	background-size : cover;
	background-repeat : no-repeat;
}

.border 
{
	width : 400px;
	height : 250px;
	margin : auto;
	border : solid;
	position : relative;
	top : 125px;
	border-color : #fff;
}

.secondborder
{
	width : 385px;
	height : 235px;
	margin : auto;
	margin-top : 5px;
	border : solid;
	border-color : #fff;
}

.secondborder table 
{
	color : #fff;
	font-family : "Century Gothic";
	font-size : 40px;
	width : 100px;
	border : 0;
}

.motto 
{
	font-family : Forte;
	font-size : 25px;
	text-align : right;
}

.take-top 
{
	position : fixed;
	bottom : 10px;
	right : 10px;
	padding : 10px 12px;
}

.take-top img 
{
	width : 70px;
	height : 70px;
	opacity : 0.3;
}
.take-top img:hover 
{
	opacity : 1.0;
}

.classes
{
	width : 100%;
	height : 550px;
	margin-top : 10px;
	background-color : #efefef;
	padding-top : 101px;
	font-family : Comic Sans MS;
}

.heading 
{
	position : fixed;
	top:0;
	width : 100%;
	height : 50px;
	margin : auto;
	padding : 0;
}

.box
{
	width : 980px;
	height : 300px;
	margin : auto;
	padding : 0;
	background : #696969;
	text-align : center;
	font-size : 30px;
	color : #fff;
}

.beginner 
{
	width : 326px;
	height : 100%;
	float : left;
	background : white;
	margin : auto;
	padding : 0;
}

.line 
{
	margin-top : 120px;
	padding-bottom : 5px;
}

.intermediate 
{
	width : 326px;
	height : 100%;
	float : left;
	background : pink;
	margin : auto;
	padding : 0;
}

.advanced 
{
	width : 326px;
	height : 100%;
	float : left;
	background :skyblue;
	margin : auto;
	padding : 0;
}

.beginnerfield 
{
	margin-left : 88px;
	height : 3px;
	width : 146px;
	background-color : #fff;
}


.intermediatefield 
{
	margin-left : 58px;
	height : 3px;
	width : 208px;
	background-color : #fff;
}


.advancedfield 
{
margin-left : 68px;
height : 3px;
width : 190px;
background-color : #fff;
}

.mainsub
{
	width:980px;
	height:100%;
	margin:auto;
	padding:0;
}

.advancedevent
{
	width : 490px;
	height : 240px;
	margin : auto;
	float : left;
	padding-right:20px;
	box-sizing:border-box;
	margin-top : 80px;
	text-align : center;
	font-family : Comic Sans MS;
	font-size : 20px;
	word-spacing : 4px;
}

.advancedline 
{
	text-decoration : underline;
	font-weight : bold;
	margin-top : 10px;
	font-size : 24px;
	margin-bottom : auto;
	margin-top:0px;
}

.beginnerphoto 
{
	width : 390px;
	height : 250px;
	background : url(images/beginners.jpg);
	float : left;
	margin-top : 140px;
}

.interevent {
	width : 490px;
	height : 240px;
	margin : auto;
	float : right;
	padding-left : 20px;
	box-sizing:border-box;
	margin-top : 170px;
	text-align : center;
	font-size : 20px;
	word-spacing : 4px;
}

.interphoto {
	width : 490px;
	height : 300px;
	background : url(images/inter.jpg);
	float : left;
	margin-top : 120px;
}

.advancedpic {
	width : 490px;
	height : 300px;
	background : url(images/advance.jpg);
	float : left;
	margin-top : 90px;
}

.event2
{
	width : 100%;
	height : 280px;
	font-family:Comic Sans MS;
	padding-top:0%;

}

.eventtable 
{
	width : 100%;
	height : auto;
	margin : auto;
	background-color : #efefef;
	font-family : "Century Gothic";
}

.eventtablesub
{
	width:980px;
	height:100%;
	margin:auto;
	padding:0;
}

.eventdesc1 
{
	width : 50%;
	height : 260px;
	margin : auto;
	float : left;
	padding : 0;
	margin-top :-100px;
	text-align : center;
	color:black;
}

.eventdesc1 table 
{
	width : 740px;
	height : 120px;
	margin : auto;
	margin-top : none ;
	margin-bottom : 10px;
}


.eventdesc1 table thead 
{
	font-weight : bolder;
	font-size : 24px;
	background-color : red;
}

footer 
{
	width : 100%;
	height : 400px;
	margin : auto;
	padding : 0;
	background : #efefef;
	font-family:Comic Sans MS;
}

.secondfooter 
{
	height : 80px;
	background-color : #000;
	color : white;
	text-align : center;
	padding-top : 25px;
	font-family : "Century Gothic";
	font-size : 18px;
	word-spacing : 3px;
}

.main-footer 
{
	background-image : url(images/foot.jpg);
	background-size : cover;
	background-attachment : fixed;
	background-repeat : no-repeat;
	padding : 40px;
	color : white;
	font-size:16px;
	text-align : center;
	height : 320px;
}

.main 
{
	width : 100%;
	height : 700px;
	margin : auto;
	padding : 0;
	background-color : #fff;
	text-align : center;
	font-family:Comic Sans MS;
}

.main h1 
{
	font-size : 40px;
	color : #16a085;
	margin : 0;
	padding : 25px;
	font-family:Old English Text MT;
}

.main p 
{
	font-size : 22px;
	word-spacing : 2px;
	margin:35px;
}

.container{
	height: 520px;
}
